# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore log files
logs/

# Ignore built or compiled files
/build
/dist
/out

# Ignore any OS or editor-specific files
.DS_Store
.vscode/
.idea/
*.log